<script>
import Peon from "./Peons/Peon.vue";
import store from "../../store";

export default {
  name: "PeonsOverview",
  components: {
    Peon,
  },
  props: {
    tuto: Boolean,
  },
  data() {
    return {
      tutovisible: true,
      peons: [],
    };
  },
  created() {
    this.peons = store.state.workers.map((worker) => {
      return {
        name: worker.name,
        sexe: worker.sexe,
        taille: worker.taille,
        age: worker.age,
        skills: worker.skills,
        mealTime: worker.mealTime,
      };
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.peons-overview {
  width: 100%;
  height: 25%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

h2 {
  text-align: center;
}

.peons-tuto {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(97, 97, 97, 0.822);
  text-align: center;
  font-size: 1.2rem;
  color: white;
  z-index: 10;
}

.peons-tuto button {
  font-size: 2rem;
  font-weight: bold;
}
.peons {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .peons-overview {
    height: 100%;
  }

  .peons {
    flex-direction: column;
  }
}
</style>

<template>
  <div class="peons-overview">
    <div v-if="tutovisible && tuto" class="peons-tuto">
      <p>
        Passez votre curseur au-dessus d'un personnage pour voir ses
        caractéristiques ou pour voir ce qu'il fait
      </p>
      <button @click="tutovisible = false">OK</button>
    </div>
    <h2>Personnages</h2>
    <div class="peons">
      <Peon
        v-for="peon in peons"
        :key="peon.name"
        :name="peon.name"
        :sexe="peon.sexe"
        :taille="peon.taille"
        :age="peon.age"
        :skills="peon.skills"
        :mealTime="peon.mealTime"
      />
    </div>
  </div>
</template>
