<script>
import RessourceItem from "./Ressources/RessourceItem.vue";
import store from "../../store";

export default {
  name: "RessourcesOverview",
  store: store,
  props: {
    tuto: Boolean,
  },
  components: {
    RessourceItem,
  },
  data() {
    return {
      tutovisible: true,
      ressourceItem: [
        {
          name: "bois",
          icon: "wood.jpg",
        },
        {
          name: "pierre",
          icon: "rock.jpg",
        },
        {
          name: "or",
          icon: "gold.jpg",
        },
        {
          name: "fer",
          icon: "iron.jpg",
        },
        {
          name: "tissus",
          icon: "fabrics.jpg",
        },
        {
          name: "nourriture",
          icon: "meals.jpg",
        },
        {
          name: "acier",
          icon: "steel.jpg",
        },
      ],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.ressources {
  width: 100%;
  height: 25%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.ressources-tuto {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(97, 97, 97, 0.822);
  text-align: center;
  font-size: 1.5rem;
  color: white;
  z-index: 10;
}

.ressources-tuto button {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .ressources {
    height: 200px;
  }
}
</style>

<template>
  <div class="ressources">
    <div v-if="tutovisible && tuto" class="ressources-tuto">
      <p>
        Cliquez sur une ressource puis sélectionnez une valeur pour qu'un personnage se mette à la récolter
      </p>
      <button @click="tutovisible = false">OK</button>
    </div>
    <RessourceItem
      v-for="item in ressourceItem"
      :key="item.name"
      :name="item.name"
      :icon="item.icon"
    />
  </div>
</template>
