<script>
export default {
  name: "WorkAssignement",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.work-assignement {
  width: 100%;
  height: 30%;
  border: 1px solid black;
}
</style>

<template>
  <div class="work-assignement">

    <div>
      <form action="post">
      </form>
    </div>
  </div>
</template>
