<script>
import store from "../../../store";

export default {
  name: "RessourceForm",
  props: {
    name: String,
  },
  data: () => ({
    quantity: 0,
  }),
  methods: {
    createTicket() {
      store.commit("createTicket", {
        name: this.name,
        quantity: this.quantity,
      });
      store.commit("askRessource", {
        name: this.name,
        quantity: this.quantity,
      });
    },
    inputChange(e) {
      const value = e.target.value;
      const regex = /[0-9]/g;
      this.quantity = value.match(regex) ? parseInt(value) : 0;
    },
  },
  computed: {
    quantityInput() {
      return this.quantity;
    },
  },
};
</script>

<template>
  <div class="ressource-form">
    <div class="numbers-proposals">
      <button
        @click="
          () => {
            this.quantity += 10;
          }
        "
        class="button-10"
      >
        10
      </button>
      <button
        @click="
          () => {
            this.quantity += 50;
          }
        "
      >
        50
      </button>
      <button
        @click="
          () => {
            this.quantity += 100;
          }
        "
        class="button-100"
      >
        100
      </button>
    </div>
    <div class="number-input-wrapper">
      <div
        @click="
          () => {
            if (this.quantity > 0) {
              this.quantity -= 1;
            }
          }
        "
      >
        -
      </div>
      <input
        :value="quantityInput"
        type="text"
        @keyup="
          (e) => {
            inputChange(e);
          }
        "
      />
      <div
        @click="
          () => {
            this.quantity += 1;
          }
        "
      >
        +
      </div>
    </div>
    <div class="buttons-ressource-form">
      <button :disabled="this.quantity > 0 ? false : true" @click="createTicket(), $emit('close-ressource-form')">
        OK
      </button>
      <button @click="$emit('close-ressource-form')">
        Fermer
      </button>
    </div>
  </div>
</template>

<style>
.button-10 {
  margin-right: 1rem;
}
.button-100 {
  margin-left: 1rem;
}
.ressource-form {
  background-color: white;
  z-index: 1;
  border: 5px solid rgb(226, 223, 223);
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
}

.buttons-ressource-form {
  display: flex;
  justify-content: space-between;
}
.numbers-proposals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.number-input-wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}
.number-input-wrapper div {
  width: 20%;
}
.number-input-wrapper input {
  width: 30%;
}
</style>
