<script>
import store from "../../../store";
import RessourceForm from "./RessourceForm.vue";

export default {
  name: "RessourceItem",
  props: {
    name: String,
    icon: String,
  },
  components: {
    RessourceForm,
  },
  data() {
    return {
      quantityAsked: 0,
      auto: false,
      showRessourceForm: false,
    };
  },
  methods: {
    autoRessource: function() {
      store.commit("autoRessource", this.name);
    },
  },
  computed: {
    image() {
      return require(`../../../assets/icons/${this.icon}`);
    },
    autoQuantity() {
      return this.auto ? "Auto" : null;
    },
    quantity() {
      return store.state.ressources[this.name].quantity;
    },
  },
  mounted() {
    const itemName = this.name;
    store.watch((state) => {
      this.quantityAsked = state.ressources[itemName].asked;
      this.auto = state.ressources[itemName].auto;
    });
  },
};
</script>

<template>
  <div
    class="ressource-item-container"
    @click="showRessourceForm = !showRessourceForm"
    @contextmenu="
      (e) => {
        e.preventDefault();
        autoRessource();
      }
    "
  >
    <div
      class="ressource-item"
      v-bind:style="{ backgroundImage: `url(${image})` }"
    >
      <span
        class="ressource-count"
        v-if="quantityAsked != 0 || auto === true"
        >{{ !auto ? quantityAsked : autoQuantity }}</span
      >
    </div>
    <div class="ressource-asked">{{ quantity }}</div>
    <!--  <div class="ressource-asked">{{ name }}</div> -->
  </div>
  <RessourceForm
    @close-ressource-form="showRessourceForm = false"
    :name="name"
    v-if="showRessourceForm"
  />
</template>
<style scoped>
.ressource-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
  position: relative;
}
.ressource-item {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-image: url('./meals.jpg'); */
}
.ressource-count {
  position: absolute;
  bottom: 10%;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 227, 227, 0.726);
}
.ressource-asked {
  text-align: center;
}
</style>
