<script>
import store from '../../store';
export default {
  name: "Building",
  props: {
    name: String,
    icon: String,
  },
  data() {
    return {
      quantityAsked: 0,
      auto: false,
      isLoading: false,
      value: 0,
    };
  },
  methods: {
    loading: function () {
      this.isLoading = true;
      store.watch((state) => {
        if (state.time.minutes % 10 === 0) {
          this.value += 1;
        }
      })
    },
  },

  computed: {
    image() {
      return require(`../../assets/icons/${this.icon}`);
    },
    load() {
      return this.value;
    },
  },
};
</script>

<template>
  <div class="construction-item-container">
    <div
      @click="this.loading()"
      class="construction-item"
      v-bind:style="{ backgroundImage: `url(${image})` }"
    ></div>
    <div class="loading" v-if="isLoading">
      <label for="file"></label>
      <progress id="file" max="100" :value="load"> {{ load }}% </progress>
    </div>

    <!--  <div class="construction-asked">{{ name }}</div> -->
  </div>
</template>

<style scoped>

.loading {
  width: 100%;
  position: relative;
}
.loading progress {
  width: 100%;
  position: absolute;
  bottom: -10px;
}
.construction-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
  position: relative;
}
.construction-item {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background-image: url('./meals.jpg'); */
}
.construction-count {
  position: absolute;
  bottom: 10%;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 227, 227, 0.726);
}
.construction-asked {
  text-align: center;
}
</style>
