<script>
import Building from "./Construction/Building.vue";

export default {
  name: "Construction",
  props: {
    msg: String,
    tuto: Boolean,
  },
  components: {
    Building,
  },
  data() {
    return {
      tutovisible: true,
      buildings: [
        {
          name: "scierie",
          icon: "wood.jpg",
        },
        {
          name: "maison",
          icon: "rock.jpg",
        },
      ],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.construction {
  width: 100%;
  height: 50%;
  border: 1px solid black;
}

h2 {
  text-align: center;
  padding: 0.5rem;
}

.buildings {
  display: flex;
}

@media (max-width: 768px) {
  .production {
    width: 100%;
  }
}
</style>

<template>
  <div class="construction">
    <h2>Construction</h2>
    <div class="buildings">
      <Building
        v-for="building in buildings"
        :key="building.name"
        :name="building.name"
        :icon="building.icon"
      />
    </div>
  </div>
</template>
