<script>
import RessourcesOverview from "./Production/RessourcesOverview.vue";
import WorkAssignement from "./Production/WorkAssignement.vue";
import PeonsOverview from "./Production/PeonsOverview.vue";

export default {
  name: "Production",
  props: {
    msg: String,
    tuto: Boolean,
  },
  components: {
    RessourcesOverview,
    WorkAssignement,
    PeonsOverview,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.production {
  width: calc(100% / 3);
  height: 100%;
}

h2 {
  text-align: center;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .production {
    width: 100%;
  }
}
</style>

<template>
  <div class="production">
    <h2>Production</h2>
    <RessourcesOverview :tuto="this.tuto" />
    <WorkAssignement :tuto="this.tuto" />
    <PeonsOverview :tuto="this.tuto" />
  </div>
</template>
