<script>
import store from "../store";

export default {
  name: "Time",
  data: function () {
    return {
      tutovisible: true,
      seconds: 0,
      minutes: 0,
      hours: 0,
      days: 0,
      speed: 0,
    };
  },
  props: {
    tuto: Boolean,
  },
  computed: {
    m() {
      return this.minutes < 10 ? "0" + this.minutes.toString() : this.minutes;
    },
    d() {
      return this.days < 2 ? "jour" : "jours";
    },
  },
  methods: {
    changeSpeed: function (speed) {
      store.commit("changeSpeed", speed);
    },
    time() {
      this.seconds += this.speed;
      let minutes = this.minutes;
      let hours = this.hours;
      if (this.seconds === 60 || this.seconds > 60) {
        minutes += 1;
        this.seconds = 0;
        store.commit("time", { minutes, hours });
        if (minutes === 60) {
          if (hours === 23) {
            hours = 0;
            minutes = 0;
            store.commit("time", { minutes, hours });
            store.commit("incrementDay");
          } else {
            minutes = 0;
            hours += 1;
            store.commit("time", { minutes, hours });
          }
        }
      }
    },
    loop() {
      requestAnimationFrame(this.loop);
      this.time();
    },
  },
  mounted() {
    store.subscribe((mutation, state) => {
      if (mutation.type === "time") {
        this.speed = state.time.speed;
        this.minutes = state.time.minutes;
        this.hours = state.time.hours;
      }
    });
    store.subscribe((mutation, state) => {
      if (mutation.type === "setTimeZone") {
        let options = {
            timeZone: state.timeZone,
            hour: "numeric",
            minute: "numeric",
            second: "numeric",
          },
          formatter = new Intl.DateTimeFormat([], options);

        const time = formatter.format().split(":");
        const minutes = Number(time[1]);
        const hours = Number(time[0]);

        this.minutes = minutes;
        this.hours = hours;

        store.commit("time", { minutes: minutes, hours: hours });
      }
    });
    store.subscribe((mutation, state) => {
      if (mutation.type === 'incrementDay') {
        this.days = state.days;
      }
    })
  },

  created() {
    this.loop();
  },
};
</script>

<template>
  <div v-if="tutovisible && tuto" class="time-tuto">
    <p>Vous pouvez accélérer le temps en cliquant sur les différents boutons</p>
    <button @click="tutovisible = false">OK</button>
  </div>
  <div class="time-container">
    <div class="day">{{ days }} {{ d }}</div>
    <div class="time">{{ hours }}h{{ m }}</div>
    <button @click="changeSpeed(0.5)">
      &lt;
    </button>
    <button @click="changeSpeed(1)">
      >
    </button>
    <button @click="changeSpeed(10)">
      >>
    </button>
    <button @click="changeSpeed(60)">
      >>>
    </button>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


.time-container {
  position: absolute;
  top: 3%;
  right: 2%;
}
button {
  padding: 5px;
  margin-left: 5px;
}

.day,
.time {
  text-align: right;
}

.time-tuto {
  width: 300px;
  height: 200px;
  position: absolute;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(97, 97, 97, 0.822);
  text-align: center;
  font-size: 1.5rem;
  color: white;
  top: 3%;
  right: 2%;
  z-index: 10;
}

.time-tuto button {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  
  .time-tuto {
    width: 100%;
    position: relative;
  }
}
</style>
