<script>
import axios from "axios";
import tzlookup from "tz-lookup";
import store from "../../store";

export default {
  name: "Meteo",
  props: {
    msg: String,
    tuto: Boolean,
  },
  data: () => ({
    now: 0,
    tutovisible: true,
    weather: {
      temp: 0,
      humidity: 0,
      windSpeed: 0,
      description: "",
      descriptionMain: "",
    },
    city: "",
    sys: {
      sunrise: 0,
      sunset: 0,
    },
    iconId: "",
  }),
  computed: {
    icon() {
      return `https://openweathermap.org/img/wn/${this.iconId}@2x.png`;
    },
    temp() {
      return this.weather.temp.toFixed(2);
    },
    cityShuffled() {
      let shuffled = this.city.split('').sort(function(){return 0.5-Math.random()}).join('');
      shuffled = shuffled.toLowerCase();
      let firstLetter = shuffled[0].toUpperCase();
      shuffled = shuffled.replace(shuffled[0], firstLetter);
      return shuffled;
    }
  },
  methods: {
    showWeather: function (city) {
      axios
        .get(
          `https://api.openweathermap.org/data/2.5/weather?q=${city}&units=metric&lang=fr
&APPID=fba68662c06af96f34c8dbd4de2c4ebf`
        )
        .then((res) => {
          store.commit("initWeather", {
            temp: res.data.main.temp,
            humidity: res.data.main.humidity,
            windSpeed: res.data.wind.speed,
          });
          this.weather.description = res.data.weather[0].description;
          this.weather.descriptionMain = res.data.weather[0].main;
          this.iconId = res.data.weather[0].icon;
          this.city = res.data.name;
          this.sys.sunrise = res.data.sys.sunrise;
          this.sys.sunset = res.data.sys.sunset;
          let timezone = tzlookup(res.data.coord.lat, res.data.coord.lon);
          store.commit("setTimeZone", timezone);
          this.simulateWeather();
        });
    },

    simulateWeather() {
      store.watch((state) => {
        if (state.time.minutes % 5 === 0) {
          store.commit("changeWeather");
        }
      });
    },
  },

  created() {
    store.watch((state) => {
      if (state.city.name) {
        this.city = state.city.name;
        this.showWeather(this.city);
      }
    });
    this.city = undefined;
  },
  mounted() {
    store.subscribe((mutation, state) => {
      if (mutation.type === "initWeather" || mutation.type === "changeWeather") {
        let w = this.weather;
        w.temp = state.weather.temp;
        w.humidity = state.weather.humidity;
        w.windSpeed = state.weather.windSpeed;
      }
    });
  },
};
</script>

<template>
  <div class="meteo">
    <h2>Météo</h2>
    <div class="weather-description" v-if="city">
      <div v-if="tutovisible && tuto" class="weather-tuto">
        <p>
          Les données météos évoluent (de façon simulée) avec l'horloge interne
          du jeu
        </p>
        <button @click="tutovisible = false">OK</button>
      </div>
      <div class="icon-container">
        <img :src="icon" />
      </div>
      <div class="city-name">{{ cityShuffled }}</div>
      <div>
        <span class="weather-desc">Temps :</span> {{ weather.description }}
      </div>
      <div><span class="weather-desc">Température :</span> {{ temp }}°C</div>
      <div>
        <span class="weather-desc">Humidité :</span> {{ weather.humidity }}%
      </div>
      <div>
        <span class="weather-desc">Vitesse du vent :</span>
        {{ weather.windSpeed }} mètres/seconde
      </div>
    </div>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.weather-description {
  font-size: 1.2rem;
  padding-left: 25%;
  position: relative;
}

.weather-tuto {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(97, 97, 97, 0.822);
  text-align: center;
  font-size: 1.5rem;
  color: white;
  z-index: 10;
  padding: 1rem;
}

.weather-tuto button {
  font-size: 2rem;
  font-weight: bold;
}
.weather-desc {
  font-weight: bold;
}
.city-name {
  font-size: 1.5rem;
  font-weight: bold;
}

h2 {
  text-align: center;
  padding: 0.5rem;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.city {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .weather-description {
    padding-left: 0%;
  }
}
</style>
