<script>
import axios from "axios";
import store from "../../store";
const _ = require("lodash");

export default {
  name: "SearchCity",
  props: {
    msg: String,
    tuto: Boolean,
  },
  data: () => ({
    cities: [],
    loading: false,
    city: false,
  }),
  methods: {
    getName: _.debounce(function (arg) {
      axios
        .get(
          `https://public.opendatasoft.com/api/records/1.0/search/?dataset=geonames-all-cities-with-a-population-1000&q=${arg}&facet=feature_code&facet=cou_name_fr`
        )
        .then((res) => {
          this.cities = [];
          res.data.records.forEach((record) => {
            this.cities.push({
              name: record.fields.name,
              country: record.fields.cou_name_en,
            });
          });
          this.loading = false;
        });
    }, 500),
    handleCityChoice: function (name, country) {
      if (name != undefined) {
        store.commit("cityChosen", { name: name, country: country });
        this.city = true;
      }
    },
  },
  created() {
    window.addEventListener("click", () => {
      this.cities = [];
    });
    this.city = undefined;
  },
};
</script>

<template>
  <div v-if="!city && tuto" class="search-city">
    <div class="form-container">
      <form action="">
        <div>
          <p>
            Bienvenue dans ma démo technique VueJS !
          </p>
          <p>
            Le principe du jeu est le
            suivant :
          </p>
          <p><strong>•</strong> Vous devez maintenir en vie quatre paysans</p>
          <p><strong>•</strong> Le temps défile en haut à droite</p>
          <p><strong>•</strong> Deux fois par jour, vos paysans mangent</p>
          <p>
            <strong>•</strong> Vous devez donc leurs faire produire des
            ressources
          </p>
          <p class="message-jeu">Le jeu est en cours de développement, très peu de fonctionnalités sont implémentées</p>
        </div>
        <p>
          Commencez par taper puis sélectionnez le nom d'une ville d'au moins
          1000 habitants. La météo et l'horloge interne du jeu se caleront sur
          la ville que vous avez choisie.
        </p>
        <div class="input-help">
          Si le résultat n'est pas satisfaisant, ajoutez le pays. Exemple :
          "Paris, France"
        </div>
        <div class="search">
          <input
            type="text"
            id="searchCity"
            placeholder="Entrez le nom d'une ville"
            @click="
              (e) => {
                if (e.target.value.length >= 2) {
                  this.loading = true;
                  getName(e.target.value);
                }
              }
            "
            @keyup="
              (e) => {
                if (e.target.value.length >= 2) {
                  this.loading = true;
                  getName(e.target.value);
                }
              }
            "
          />
          <div
            id="wrapperCities"
            v-if="cities.length > 0"
            class="wrapper-cities"
          >
            <div
              class="city"
              v-for="city in cities"
              :key="city.name"
              @click="
                () => {
                  this.handleCityChoice(city.name, city.country);
                }
              "
            >
              {{ city.name }}, {{ city.country }}
            </div>
          </div>
          <div class="loader" v-if="loading">
            Chargement<span class="dot-1">.</span><span class="dot-2">.</span
            ><span class="dot-3">.</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.message-jeu {
  color: rgb(134, 0, 0);
  font-weight: bold;
  font-size: 0.9rem;
}
.input-help {
  font-size: 0.9rem;
  color: rgb(129, 126, 126);
}
.city-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.search-city {
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 13;
}
.form-container {
  z-index: 12;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(182, 177, 177, 0.849);
}
form {
  width: 50%;
  height: 50%;
  background-color: white;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

h2 {
  text-align: center;
  padding: 0.5rem;
}

h3 {
  margin: 40px 0 0;
}

p {
  font-size: 1.2rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.search {
  position: relative;
}
input {
  width: 200px;
  height: 30px;
  font-size: 1rem;
}
.wrapper-cities {
  text-align: left;
  border: 5px solid rgb(238, 238, 238);
  border-radius: 5px;
  margin-top: 1.5rem;
  padding: 0.4rem;
  position: absolute;
  top: 1rem;
  background: white;
}
.loader {
  font-size: 1rem;
}
.city {
  font-size: 1rem;
}

.wrapper-cities div {
  margin-bottom: 0.1rem;
  padding: 0.2rem 0.1rem 0.2rem 0.1rem;
}
.wrapper-cities div:hover {
  cursor: pointer;
  background-color: rgb(241, 235, 235);
}
.dot-1,
.dot-2,
.dot-3 {
  animation-iteration-count: infinite;
}
.dot-1 {
  animation-duration: 0.3s;
  animation-name: clignoter;
  transition: none;
}
.dot-2 {
  animation-duration: 0.6s;
  animation-name: clignoter;
  transition: none;
}
.dot-3 {
  animation-duration: 0.9s;
  animation-name: clignoter;
  transition: none;
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }
  input {
    height: 2rem;
  }
  .search-city {
    top: 0;
  }
}
</style>
