<script>
import SearchCity from "./SearchCity.vue";
import Meteo from "./Meteo.vue";
export default {
  name: "Weather",
  props: {
    tuto: String,
  },
  components: {
    Meteo,
    SearchCity,
  },
};
</script>

<template>
  <div class="weather">
    <Meteo :tuto="this.tuto" />
    <SearchCity :tuto="this.tuto" />
  </div>
</template>

<style scoped>
.weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

@media (max-width: 768px) {
  .weather {
    width: 100%;
  }
}
</style>
