<script>
import PeonForm from "./PeonForm.vue";
import store from "../../../store";
import { nextTick } from "vue";
// import { mapGetters } from "vuex";

export default {
  name: "Peon",
  components: {
    PeonForm,
  },
  props: {
    name: String,
    sexe: String,
    taille: Number,
    age: Number,
    skills: Object,
    mealTime: Object,
  },
  data() {
    return {
      showForm: false,
      doingSmthg: false,
      doingSmthgMessage: String,
      status: String,
      productivity: Number,
      beginningOfTask: 0,
      currentTicket: {
        id: Number,
        itemName: String,
        quantity: Number,
        quantityDone: Number,
        status: String,
      },
    };
  },
  methods: {
    show: function () {
      this.showForm = true;
    },
    hide: function () {
      this.showForm = false;
    },
    doing: function (itemName) {
      switch (itemName) {
        case "bois":
          this.doingSmthgMessage = "couper du bois";
          break;
        case "or":
          this.doingSmthgMessage = "miner de l'or";
          break;
        case "fer":
          this.doingSmthgMessage = "miner du fer";
          break;
        case "pierre":
          this.doingSmthgMessage = "miner de la pierre";
          break;
        case "tissus":
          this.doingSmthgMessage = "fabriquer du tissus";
          break;
        case "acier":
          this.doingSmthgMessage = "fondre de l'acier";
          break;
        case "nourriture":
          this.doingSmthgMessage = "cuisiner";
          break;
        default:
          break;
      }
    },

    watchStatusInStore: function () {
      store.watch((state) => {
        state.workers.forEach((worker) => {
          if (this.name === worker.name) {
            this.status = worker.status;
          }
        });
      });
    },
    handleMeals() {
      store.watch((state) => {
        switch (state.time.hours) {
          case this.mealTime.morning:
            nextTick(() => {
              store.commit("mealtime");
            });
            break;
          case this.mealTime.evening:
            nextTick(() => {
              store.commit("mealtime");
            });
            break;
          default:
            break;
        }
      });
    },
    calculateProductivity(ressource) {
      let skillRequired;
      switch (ressource) {
        case "bois":
          skillRequired = "coupe";
          break;
        case "pierre":
          skillRequired = "taille";
          break;
        case "or":
          skillRequired = "minage";
          break;
        case "fer":
          skillRequired = "minage";
          break;
        case "tissus":
          skillRequired = "couture";
          break;
        case "nourriture":
          skillRequired = "cuisine";
          break;
        case "acier":
          skillRequired = "metallurgie";
          break;
        default:
          break;
      }
      const skill = this.skills[skillRequired];

      return 160 - skill * 10;
    },
    work(ticket) {
      this.productivity = this.calculateProductivity(ticket.itemName);
      let unwatch = store.watch((state) => {
        let ressource = state.ressources[ticket.itemName];
        if (state.tickets[ticket.ticketKey]) {
          if (state.time.minutes) {
            this.beginningOfTask++;
            if (this.beginningOfTask % this.productivity === 0) {
              // temps qui passe modulo la productivité
              if (state.tickets[ticket.ticketKey].quantity > 0) {
                store.commit("work", { ticket: ticket, ressource: ressource });
              } else {
                store.commit("idle", this.name);
                store.commit("deleteTicket", ticket);
                this.doingSmthg = false;
              }
            }
          }
        } else {
          unwatch();
        }
      });
    },
  },

  computed: {
    displayStatus() {
      switch (this.status) {
        case "idle":
          return "inactif";
        case "busy":
          return "occupé";
        default:
          return "inactif";
      }
    },
  },

  mounted() {
    store.watch((state) => {
      if (state.time.minutes) {
        if (this.status === "idle") {
          const ticket = Object.values(state.tickets).find(
            (t) => t.peon === this.name && t.status === "waiting"
          );

          if (ticket) {
            store.commit("busy", this.name);
            store.commit("ticketInProgress", ticket);
            this.work(ticket);
            this.doing(ticket.itemName);
            this.doingSmthg = true;
          }
        }
      }
    });

    this.handleMeals();

    /* Gestion du status du peon */
    const workerInStore = store.state.workers.find((w) => w.name === this.name);
    this.status = workerInStore.status; // initialise l'état du peon
    this.watchStatusInStore(); // démarre le watch du store pour l'état du peon
    /* Gestion du status du peon */
  },
};
</script>

<template>
  <div class="peon-container">
    <div
      class="peon"
      v-on:mouseover="this.show()"
      v-on:mouseleave="this.hide()"
    >
      {{ name }}
      {{ displayStatus }}
    </div>
    <PeonForm
      :name="this.name"
      :sexe="this.sexe"
      :taille="this.taille"
      :age="this.age"
      :skills="this.skills"
      :doingSmthg="this.doingSmthg"
      :doingSmthgMessage="this.doingSmthgMessage"
      v-if="this.showForm"
    />
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.peon-container {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 2px;
  position: relative;
}
.peon {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
</style>
