<script>
export default {
  name: "PeonForm",
  props: {
    name: String,
    sexe: String,
    taille: Number,
    age: Number,
    skills: Object,
    doingSmthg: Boolean,
    doingSmthgMessage: String,
  },
};
</script>

<template>
  <div class="peon-form-container">
    <div>Nom : {{ name }}</div>
    <div>Sexe : {{ sexe }}</div>
    <div>Taille : {{ taille }}</div>
    <div>Age : {{ age }}</div>
    <div class="skills">
      <h3>Compétences :</h3>
      <div>Coupe : {{ skills.coupe }}</div>
      <div>Taille : {{ skills.taille }}</div>
      <div>Couture : {{ skills.couture }}</div>
      <div>Métallurgie : {{ skills.metallurgie }}</div>
      <div>Minage : {{ skills.minage }}</div>
      <div>Cuisine : {{ skills.cuisine }}</div>
    </div>
    <div class="peon-desc">
      <div v-if="doingSmthg">
        {{ name }} est en train de {{ doingSmthgMessage }}
      </div>
      <div v-if="!doingSmthg">{{ name }} s'ennuie</div>
    </div>
  </div>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.peon-form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 250px;
  background: rgb(223, 223, 223);
  border: 1px solid black;
  position: absolute;
  z-index: 10;
  left: 80px;
  bottom: 80px;
}

.peon-desc {
  margin-top: 1rem;
}

.skills {
  padding: 1rem;
  border: 2px solid rgb(56, 56, 56);
  margin-top: 1rem;
}

.skills h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
