<script>
import Production from "./components/Production.vue";
import Time from "./components/Time.vue";
import Weather from "./components/Meteo/Weather.vue";
// import Construction from "./components/Construction.vue";

export default {
  name: "App",
  data() {
    return {
      tuto: true,
    };
  },

  components: {
    Production,
    Time,
    Weather,
 //   Construction,
  },
};
</script>

<template>
  <Time :tuto="this.tuto" />
  <Production :tuto="this.tuto" />
  <div class="col-middle">
    <Weather :tuto="this.tuto" />
   <!-- <Construction :tuto="this.tuto" /> -->
  </div>
</template>

<style>
.col-middle {
  width: calc(100%/3);
  display: flex;
  flex-direction: column;
}
#app {
  width: 96%;
  height: 96vh;
  overflow: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column-reverse;
    height: 100%;
  }
}
</style>
